packages: [
  "atom-beautify"
  "atom-ide-ui"
  "autocomplete-python"
  "blame"
  "busy"
  "busy-signal"
  "color-picker"
  "duplicate-removal"
  "editorconfig"
  "file-icons"
  "go-debug"
  "go-plus"
  "go-signature-statusbar"
  "highlight-selected"
  "Hydrogen"
  "hydrogen-launcher"
  "intentions"
  "language-babel"
  "language-cmake"
  "language-cython"
  "language-docker"
  "language-latex"
  "language-powershell"
  "language-protobuf"
  "language-scala"
  "language-vue"
  "linter"
  "linter-clang"
  "linter-flake8"
  "linter-pylint"
  "linter-scalac"
  "linter-shellcheck"
  "linter-ui-default"
  "markdown-preview-plus"
  "minimap"
  "multi-cursor"
  "package-sync"
  "pdf-view"
  "pigments"
  "platformio-ide-terminal"
  "scala-worksheet-plus"
  "sequential-number"
  "sort-lines"
  "split-diff"
]
